$background-color: #f8f8f8;
$red: #e53935;
$black: #222;;
$card-font: 'Libre Baskerville', serif;

$text-color: #171717;
$text-color-light: #999;

$font-header: 'Jost', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$spacing: 20px;
$spacing-medium: 12px;
$spacing-small: 4px;

$border-color: #ddd;
$border-radius: 4px;

$primary: #00695C;
$secondary: #303F9F;
$error: #f44336;
$alert: #FFC107;
