$background-color: #f2f2f2;
$red: #e53935;
$yellow: #FBC02D;
$black: #222;;
$card-font: gesta, serif;

$text-color: #011F26;
$text-color-light: #999;

$font-text: gesta, sans-serif;

$spacing: 24px;
$spacing-medium: 12px;
$spacing-small: 4px;

$border-color: #ccc;
$border-radius: 4px;

$dark-green: #011F26;
$green: #0F4C59;
$peach: #F2A679;
$orange: #F26E50;
$gray: #F2F2F2;

$primary: $green;
$secondary: $dark-green;
$error: $orange;

// radio and checkboxes
$control-width: 40px;
$control-size: 20px;

$media-small-table-width: 600px;
$mobile-max: 600px;

$page-width-max-width: 1000px;

@mixin page-width {
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: #{$page-width-max-width}) {
        max-width: 100%;
        padding-left: $spacing;
        padding-right: $spacing;
        width: 100%;
    }
}

@mixin inline-label {
    display:        block;
    font-size:      16px;
    color:          #aaa;
    position:       absolute;
    top:            15px;
    left:           15px;

    transition:     all 100ms;
    z-index:        2;
    pointer-events: none;
}

@mixin inline-label-with-value {
    span.label {
        font-size: 10px;
        top:       6px;
        left:      6px;
    }

    input, select {
        padding-top:    19px;
        padding-bottom: 9px;
    }
}

@mixin current-turn {
    border-color: $orange;
    box-shadow: 0 0 4px $orange;
}
